LOG_LEVEL=debug

NEXTAUTH_URL="http://host:3000"
AUTH_SECRET="SECRET"
NEXTAUTH_SECRET="SECRET"
#########################################
# 🔗 Business Central Configuration
#########################################
BC_API_BASE_URL=http:/host:port/instance
BC_AUTH_TYPE=ntl # possible values ntlm | basic
BC_USERNAME=user
BC_PASSWORD=pwd
BC_COMPANY_NAME="company"
BC_COMPANY_ID="company id"
BC_DOMAIN=domain

#########################################
# 🗃️ Database Configuration
#########################################

# Choose which database to use: "mysql" or "postgres"
DB_TYPE=postgres

# PostgreSQL Settings
#POSTGRES_HOST=localhost
#POSTGRES_PORT=5432
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=secret
#POSTGRES_DB=mydb

# MySQL Settings
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=user
DB_PASSWORD=pwd
DB_POOL=10

# MAIL Settings
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_SECURITY=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"


#########################################
# 🔐 Azure AD Authentication
#########################################

AZURE_AD_CLIENT_ID="CLIENT ID"
AZURE_AD_REDIRECT_URI="REDIRECT URL"
AZURE_AD_TENANT_ID="TENANT ID"
AZURE_AD_SCOPE="SCOPE"
AZURE_AD_CLIENT_SECRET="AZURE ADI CLIENT SECRET"