.logo-sm,
.logo-lg {
  transition: opacity 0.3s ease-in-out;
}
.spinner-border {
  border-top-color: transparent;
  border-right-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
}
